.card-pokemon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.card-pokemon img{
    width: 40%;
    height: auto;
    border-radius: 10px;
    border: 15px solid #dedede;
    background-color: #28aafe;

}

.card-pokemon h2{
    
    height: 10px;   

}

.displayPokemon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
}

.displayPokemon div{
    background-color: #2b2b2b;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.display-progress{
    width: 90%; 
    
}

.progress-bar{
    width: 100%;
    display: flex;
    align-items: flex-end;
}
  