.App{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.cardPai{
    height: 70vh;
    width: 30vw;
    background-color: #dd0a2d;
    border: 6px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
       
}